* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('../imagenes/fondopantalla.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Mantiene el fondo fijo */
    min-height: 100vh;
    font-family: Arial, sans-serif;
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Organiza el contenido verticalmente */
}


.wrapper {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%; /* Cambiado de 100% a 90% para dar márgenes laterales */
    margin: 20px auto; /* Añade espacio arriba y abajo */
    padding: 20px; /* Reactivé el padding para espaciado interno */
    flex: 1; /* Permite que el wrapper crezca para llenar el espacio */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

    .input-box input {
        width: 80%;
        padding: 10px;
        padding-left: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .input-box i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #666;
    }

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .btn:hover {
        background-color: #0056b3;
    }

.register-link {
    text-align: center;
    margin-top: 20px;
}

    .register-link a {
        color: #007BFF;
        text-decoration: none;
    }

        .register-link a:hover {
            text-decoration: underline;
        }

header li, header a, header p {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    background-color: rgba(128, 128, 128, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    list-style-type: none;
}

    .nav-bar li {
        display: inline-block;
        padding: 0px 0px;
    }

        .nav-bar li a {
            transition: 10ms;
            display: block;
            padding: .6em 1em;
        }

            .nav-bar li a:hover {
                color: aqua;
            }




